@import "../../../assets/scss/variables";

// css using flex
.profile-box {
  background: $secondary;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;

}

.profile-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.profile-heading {
  text-align: center;
}

.profile-heading h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-heading h3 {
  margin-top: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
}

.navigation-li a {
  padding: 20px 30px;
  display: block;
}

.navigation-li a i {
  color: $tertiary-dark;
}

.navigation-li.active a {
  background: $primary;
}

.navigation-li.active a i {
  color: $light;
}

.tab-content h3 {
  color: $primary-dark;
  font-size: 2em;
  text-align: center;
}

.information-item {
  border-bottom: 3px solid $secondary-dark;
  color: $tertiary-dark;

}

.information-item:after {
  position: relative;
  bottom: -3px;
  left: 0;
  content: "";
  height: 3px;
  width: 80px;
  border-bottom: 3px solid;
  border-color: $primary;
}


