@import "../../../assets/scss/variables";

// css using inline blocks
/*
.profile-box {
  background: $secondary;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-image {
  display: block;
  text-align: center;
}

.profile-heading {
  text-align: center;
}
.profile-heading h3{
  margin-top: 0;
  margin-bottom: 0;
}

.navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  text-align: center;
}

.navigation-li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation-li a {
  padding: 20px 30px;
  display: block;
}

.navigation-li a span {
  color: $tertiary-dark;
}

.navigation-li.active a {
  background: $primary;
  color: $light;
}
.tab-content h4 {
  color: $dark;
  text-align: center;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}
*/

// css using flex
.profile-box {
  background: $secondary;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.profile-heading {
  text-align: center;
}
.profile-heading h3{
  margin-top: 0;
  margin-bottom: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
}

.navigation-li a {
  padding: 20px 30px;
  display: block;
}

.navigation-li a span {
  color: $tertiary-dark;
}

.navigation-li.active a {
  background: $primary;
  color: $light;
}
.tab-content h4 {
  color: $primary-dark;
  font-size: 2em;
  text-align: center;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

td.information-key {
  color: $dark;
  font-size: 2em;
}
