<section class="form-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="form-wrapper">
          <div class="form-box">
            <ul class="form-progress-bar">
              <li>1</li>
              <li class="active">2</li>
              <li>3</li>
              <li>4</li>
            </ul>
            <div class="form-top">
              <div class="form-top-left">
                <h1>Register </h1>
                <p> Please fill in the form to register :</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>

            <div class="form-bottom">
              <form type="submit" name="registerForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                <div class="form-group">
                  <label class="sr-only" for="username"> Username </label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username..."
                         formControlName="username"/>
                  <app-field-error-display [myControl]="myForm.controls['username']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="email"> Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email..."
                         formControlName="email"/>
                  <app-field-error-display [myControl]="myForm.controls['email']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="password"> Password </label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password..."
                         formControlName="password"/>
                  <app-field-error-display [myControl]="myForm.controls['password']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="firstName"> First Name </label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name..."
                         formControlName="firstName"/>
                  <app-field-error-display [myControl]="myForm.controls['firstName']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="lastName"> Last Name </label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name..."
                         formControlName="lastName"/>
                  <app-field-error-display [myControl]="myForm.controls['lastName']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="phoneNumber"> Phone Number</label>
                  <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                         placeholder="Phone number..." formControlName="phoneNumber"/>
                  <app-field-error-display [myControl]="myForm.controls['phoneNumber']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="birthDate"> Birth Date </label>
                  <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date"
                         formControlName="birthDate"/>
                  <app-field-error-display [myControl]="myForm.controls['birthDate']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="bloodType"> Blood Type </label>
                  <input type="text" class="form-control" id="bloodType" name="bloodType" placeholder="Blood Type"
                         formControlName="bloodType"/>
                  <app-field-error-display [myControl]="myForm.controls['bloodType']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="emailNotification"> Email Notification </label>
                  <input type="checkbox" class="form-control" id="emailNotification" name="emailNotification"
                         formControlName="emailNotification"/>
                  <app-field-error-display [myControl]="myForm.controls['emailNotification']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="smsNotification"> SMS Notification </label>
                  <input type="checkbox" class="form-control" id="smsNotification" name="smsNotification"
                         formControlName="smsNotification"/>
                  <app-field-error-display [myControl]="myForm.controls['smsNotification']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="street"> Street </label>
                  <input type="text" class="form-control" id="street" name="street" placeholder="Street..."
                         formControlName="street"/>
                  <app-field-error-display
                    [myControl]="myForm.controls['address'].controls['street']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="city"> City </label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City..."
                         formControlName="city"/>
                  <app-field-error-display
                    [myControl]="myForm.controls['address'].controls['city']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="country"> Country </label>
                  <input type="text" class="form-control" id="country" name="country" placeholder="Country..."
                         formControlName="country" [appTypeahead]="countries"/>
                  <app-field-error-display
                    [myControl]="myForm.controls['address'].controls['country']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="zipCode"> Zip Code </label>
                  <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zip Code"
                         formControlName="zipCode"/>
                  <app-field-error-display
                    [myControl]="myForm.controls['address'].controls['zipCode']"></app-field-error-display>
                </div>


                <div class="form-group">
                  <button type="submit" class="btn-form">Register</button>
                </div>

                <div class="form-group">
                  <a [routerLink]="['../login']">
                    <button class="btn-form">
                      Login
                    </button>
                  </a>
                </div>

              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


