<app-page-header content="Redefinition du mot de passe"></app-page-header>

<section class="section-relative">

  <app-spinner *ngIf="showSpinner"></app-spinner>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

        <div *ngIf="!showResetForm">
          <h1> {{verificationMessage}} </h1>
        </div>

        <div *ngIf="showResetForm" class="form-wrapper">
          <div class="form-box">

            <div class="form-top">
              <div class="form-top-left">
                <h1>Reset Password Request </h1>
                <p>Enter your new password</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-key"></i>
              </div>
            </div>

            <div class="form-bottom">
              <form name="loginForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                <div class="form-group">
                  <label class="sr-only" for="password"> Password </label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password..."
                         formControlName="password"/>
                  <app-field-error-display [myControl]="myForm.controls['password']"></app-field-error-display>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="!myForm.valid" class="btn btn-prim">Change password</button>
                </div>

              </form>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>


</section>
