.cta-section-2 {
  padding: 64px 0;
  background: transparent;
  background-image: url('/assets/images/pattern_1.png');
  background-repeat: repeat;
  background-position: center center;
  background-size: initial;
  background-attachment: fixed;
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.cta-section-2:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fe3c47;
  opacity: 0.95;
  top: 0;
  left: 0;
  content: '';
}
.cta-section-2 h2 {
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.cta-section-2 p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.004em;
  color: #ffffff;
}
.cta-section-2 a.btn-cta-2 {
  background: #fafafa;
  color: #fe3c47;
  border: 2px solid #cccccc;
  font-size: 22px;
  font-weight: 700;
  height: 60px;
  line-height: 42px;
  margin-bottom: 6px;
  margin-top: 24px;
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  transition: all 0.3s ease-out 0.2s;
}
.cta-section-2 a.btn-cta-2:hover {
  background: #fe3c47;
  color: #ffffff;
}

/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .cta-section-2 h2 {
    font-size: 32px;
  }
  .cta-section-2 h5 {
    font-size: 24px;
    line-height: 24px;
  }

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .cta-section-2 h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
