.section-heading-wrapper {
  margin-bottom: 32px;
}
.section-heading {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #000000;
}
.section-heading:after {
  background-image: url('/assets/images/separator.png');
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 55px;
  width: 150px;
}
.section-heading span {
  font-style: 400;
  color: #000000;
}
.section-heading-alt {
  color: #ffffff;
}
.section-heading-alt span {
  font-style: 400;
  color: #ffffff;
}
.section-subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #4d4d4d;
  margin-bottom: 24px;
  padding: 30px 0 0 24px;
  word-spacing: 0.03em;
}
.section-subheading-alt {
  color: #ffffff;
}



/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1300px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {

}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-heading {
    font-size: 32px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 12px;
  }
  .section-heading:after,
  .section-heading:before {
    display: none;
  }
  .section-subheading {
    font-size: 18px;
    padding: 0px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-heading-wrapper {
    margin-bottom: 0px;
  }
  .section-heading {
    font-size: 32px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  .section-heading:after,
  .section-heading:before {
    display: none;
  }
  .section-subheading {
    display: none;
  }

}
