@import "../../../assets/scss/variables";

/***********************************************************************************************/
/* SIDEBAR & WIDGETS */
/***********************************************************************************************/
.widget {
  background: $secondary;
  margin-bottom: 30px;
  padding: 20px;
}
.widget-title {
  position: relative;
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  color: $tertiary-dark;
}
.widget-blood-list {
  list-style: outside none none;
  padding: 0;
  margin: 11px auto;
}
.widget-blood-list li {
  margin: 5px 0;
  padding: 0;
  text-transform: capitalize;
}
.widget-blood-list li a {
  color: $tertiary-dark;
  font-size: 15px;
  position: relative;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.widget-blood-list li a:hover {
  color: $primary;
}

.input-group{
  display: inline;
}
.input-group-addon {
  height: 42px;
  width: 15%;
  color: $light;
  font-weight: bold;
  border-radius: 0px;
  border-right: 0px;
  background-clip: padding-box;
  background: $primary;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}
input[type="text"] {
  height: 42px;
  width: 80%;
  box-shadow: 0;
  margin: 0;
  font-size: 14px;
  padding-left: 5px;
  border: 0px;
  box-shadow: none;
  border-bottom: 1px solid $secondary-dark;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
input[type="text"]:focus {
  box-shadow: none;
  border-bottom: 1px solid $secondary-dark;
}

sapn.badge{
  color: $light;
  background-color: $tertiary;
}

label.badge{
  color: $light;
  background-color: $primary;
}
