<div>

  <div class="widget site-sidebar">

    <h2 class="widget-title">City</h2>

    <form action="index.html" id="search-form-2" class="search-form" role="form" method="get">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search....">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>

      <input type="hidden" value="submit" />

    </form> <!-- end #search-form  -->


  </div> <!--  end .widget -->

  <div class="widget site-sidebar">

    <h2 class="widget-title">Categories</h2>

    <ul class="widget-post-category clearfix">
      <li>
        <a title="View all posts filed under Environment" [routerLink]="['/']"> A+ </a>
        <span class="pull-right badge">42</span>
      </li>
      <li>
        <a title="View all posts filed under Technology" [routerLink]="['/']"> A- </a>
        <span class="pull-right badge">40</span>
      </li>
      <li>
        <a title="View all posts filed under Health" [routerLink]="['/']"> B+ </a>
        <span class="pull-right badge">32</span>
      </li>
      <li>
        <a title="View all posts filed under Disaster" [routerLink]="['/']"> B- </a>
        <span class="pull-right badge">26</span>
      </li>
      <li>
        <a title="View all posts filed under Environment Right" [routerLink]="['/']"> AB+ </a>
        <span class="pull-right badge">18</span>
      </li>
      <li>
        <a title="View all posts filed under Education" [routerLink]="['/']"> AB- </a>
        <span class="pull-right badge">12</span>
      </li>
      <li>
        <a title="View all posts filed under Health" [routerLink]="['/']"> O+ </a>
        <span class="pull-right badge">32</span>
      </li>
      <li>
        <a title="View all posts filed under Disaster" [routerLink]="['/']"> O- </a>
        <span class="pull-right badge">26</span>
      </li>
    </ul>


  </div> <!--  end .widget -->

  <div class="widget site-sidebar">

    <h2 class="widget-title">Search</h2>

    <form action="index.html" id="search-form-1" class="search-form" role="form" method="get">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search....">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>

      <input type="hidden" value="submit" />

    </form> <!-- end #search-form  -->

  </div> <!--  end .widget -->

</div>


