<div>

  <div class="widget site-sidebar">

    <h2 class="widget-title">City</h2>

    <form action="index.html" id="search-form-2" class="search-form" role="form" method="get">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search....">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>

      <input type="hidden" value="submit" />

    </form> <!-- end #search-form  -->


  </div> <!--  end .widget -->

  <div class="widget site-sidebar">

    <h2 class="widget-title">Categories</h2>

    <ul class="widget-post-category clearfix">

      <li>
        <input type="checkbox" id="APlus" name="bloodType" value="APlus">
        <label class="badge" for="APlus"> A+ </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="AMinus" name="bloodType" value="AMinus">
        <label class="badge" for="AMinus"> A- </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="BPlus" name="bloodType" value="BPlus">
        <label class="badge" for="BPlus"> B+ </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="BMinus" name="bloodType" value="BMinus">
        <label class="badge" for="BMinus"> B- </label>
        <span class="pull-right badge">42</span>
      </li>
      <li>
        <input type="checkbox" id="ABPlus" name="bloodType" value="ABPlus">
        <label class="badge" for="ABPlus"> AB+ </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="ABMinus" name="bloodType" value="ABMinus">
        <label class="badge" for="ABMinus"> AB- </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="OPlus" name="bloodType" value="OPlus">
        <label class="badge" for="OPlus"> O+ </label>
        <span class="pull-right badge">42</span>
      </li>

      <li>
        <input type="checkbox" id="OMinus" name="bloodType" value="OMinus">
        <label class="badge" for="OMinus"> O- </label>
        <span class="pull-right badge">42</span>
      </li>

    </ul>


  </div> <!--  end .widget -->

  <div class="widget site-sidebar">

    <h2 class="widget-title">Search</h2>

    <form action="index.html" id="search-form-1" class="search-form" role="form" method="get">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search....">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>

      <input type="hidden" value="submit" />

    </form> <!-- end #search-form  -->

  </div> <!--  end .widget -->

</div>


