<div>

  <form id="myForm" name="myForm" [formGroup]="myForm">

    <div *ngIf="showCitySearch" class="widget site-sidebar">

      <h2 class="widget-title">City</h2>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" id="city" placeholder="Search...."
                 formControlName="city">
          <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>


    <div *ngIf="showBloodTypesFilter" class="widget site-sidebar">

      <h2 class="widget-title">Categories</h2>

      <div class="form-group" formGroupName="bloodType">

        <ul class="widget-blood-list clearfix">

          <li>
            <input type="checkbox" id="APlus" name="bloodType" value="APlus"
                   formControlName="APlus">
            <label for="APlus"> A+ </label>
            <span class="pull-right badge">{{donationsCount.APlus}}</span>
          </li>

          <li>
            <input type="checkbox" id="AMinus" name="bloodType" value="AMinus"
                   formControlName="AMinus">
            <label for="AMinus"> A- </label>
            <span class="pull-right badge">{{donationsCount.AMinus}}</span>
          </li>

          <li>
            <input type="checkbox" id="BPlus" name="bloodType" value="BPlus"
                   formControlName="BPlus">
            <label for="BPlus"> B+ </label>
            <span class="pull-right badge">{{donationsCount.BPlus}}</span>
          </li>

          <li>
            <input type="checkbox" id="BMinus" name="bloodType" value="BMinus"
                   formControlName="BMinus">
            <label for="BMinus"> B- </label>
            <span class="pull-right badge">{{donationsCount.BMinus}}</span>
          </li>
          <li>
            <input type="checkbox" id="ABPlus" name="bloodType" value="ABPlus"
                   formControlName="ABPlus">
            <label for="ABPlus"> AB+ </label>
            <span class="pull-right badge">{{donationsCount.ABPlus}}</span>
          </li>

          <li>
            <input type="checkbox" id="ABMinus" name="bloodType" value="ABMinus"
                   formControlName="ABMinus">
            <label for="ABMinus"> AB- </label>
            <span class="pull-right badge">{{donationsCount.ABMinus}}</span>
          </li>

          <li>
            <input type="checkbox" id="OPlus" name="bloodType" value="OPlus"
                   formControlName="OPlus">
            <label for="OPlus"> O+ </label>
            <span class="pull-right badge">{{donationsCount.OPlus}}</span>
          </li>

          <li>
            <input type="checkbox" id="OMinus" name="bloodType" value="OMinus"
                   formControlName="OMinus">
            <label for="OMinus"> O- </label>
            <span class="pull-right badge">{{donationsCount.OMinus}}</span>
          </li>

        </ul>

      </div>

    </div>

    <div *ngIf="showKeyWordSearch" class="widget site-sidebar">

      <h2 class="widget-title">Key Word</h2>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" id="keyWord" placeholder="Search...."
                 formControlName="keyWord">
          <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>

  </form>

  <div *ngIf="showOrderingSelect" class="widget site-sidebar">

    <h2 class="widget-title">Trier par</h2>

    <div class="form-group">
      <label for="sel1">Choisir l'option de trie </label>
      <select class="form-control" [(ngModel)]="orderingOption" (ngModelChange)="onOrderingOptionChange($event)" id="sel1">
        <option value="deadline" label="Deadline : par ordre croissant"> </option>
        <option value="-deadline" label="Deadline : par ordre décroissant"> </option>
        <option value="created_on" label="Date de création : par ordre croissant"> </option>
        <option value="-created_on" label="Date de création : par ordre décroissant" selected="selected"> </option>
      </select>
    </div>

  </div>

</div>


