<section class="header-wrapper navgiation-wrapper">

  <div class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" [routerLink]="['/']">
          <img alt="" src="/assets/images/logo.png">
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="drop">
            <a [routerLink]="['/']" title="Home Layout 01">Home</a>
            <ul class="drop-down">
              <li><a [routerLink]="['/']" title="Home Layout 01">Home Layout 1</a></li>
              <li><a [routerLink]="['/']" title="Home Layout 02">Home Layout 2</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/']" title="About Us">About Us</a></li>



          <li>
            <a [routerLink]="['/']">Campaign</a>
            <ul class="drop-down">
              <li><a [routerLink]="['/']">All Campaigns</a></li>
              <li><a [routerLink]="['/']">Single Campaign</a></li>
            </ul>
          </li>

          <li class="drop"><a [routerLink]="['/']">Pages</a>
            <ul class="drop-down">


              <li><a [routerLink]="['/']" title="FAQ">FAQ</a></li>
              <li class="drop"><a [routerLink]="['/']">Gallery</a>
                <ul class="drop-down level3">
                  <li><a [routerLink]="['/']">Layout 01</a></li>
                  <li><a [routerLink]="['/']">Layout 02</a></li>

                </ul>
              </li>
              <li><a [routerLink]="['/']" title="404 Page">404 Page</a></li>
              <li class="drop"><a [routerLink]="['/']">Level 3</a>
                <ul class="drop-down level3">
                  <li><a [routerLink]="['/']">Level 3.1</a></li>
                  <li><a [routerLink]="['/']">Level 3.2</a></li>
                  <li><a [routerLink]="['/']">Level 3.3</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a [routerLink]="['/']">Blog</a>
            <ul class="drop-down">
              <li><a [routerLink]="['/']">All Posts</a></li>
              <li><a [routerLink]="['/']">Single Page</a></li>
            </ul>
          </li>

          <li><a [routerLink]="['/']">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
