<div class="navbar navbar-default"
     [ngClass]="{'navbar-fixed-top': fixed, 'navbar-box-shadow': fixed}">
  <div class="container">

    <div class="navbar-header menu-icon-container hidden-md hidden-lg"
         (click)="onMenuIconClick()">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </div>

    <div class="navbar-header logo">
        <a [routerLink]="['/']">
          <img alt="" src="/assets/images/logo.png">
        </a>
    </div>

    <div class="navbar-elm hidden-sm hidden-xs">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['donations']">Donations</a>
        </li>

        <li>
          <a [routerLink]="['about']">About Us</a>
        </li>

        <li>
          <a [routerLink]="['contact']">Contact</a>
        </li>

        <li>
          <a [routerLink]="['faq']">FAQ</a>
        </li>

        <li>
          <a [routerLink]="['blog']">Blog</a>
        </li>

      </ul>
    </div>

    <div class="profile-icon-container" (click)="onProfileIconClick()">
      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    </div>

  </div>

</div>
