@import "../../../assets/scss/variables";


/******** navigation bar container ************/
.navbar-default {
  // height: 100px;
  background-color: $light;
  overflow: hidden;
  height: 100px;
  background-color: $light;
  border: none;
  margin-bottom: 0px;
  padding: 12px 0;
}
.navbar-box-shadow{
  box-shadow: 0 1px 10px 0 grey;
}
.navbar-header{
  display: inline-block;
}

/******** Menu Icon ************/

.menu-icon-container{
  display: inline-block;
  cursor: pointer;
  padding-top: 15px;
}

/******** Profile icon ************/
.profile-icon-container{
  display: inline-block;
  float: right;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
}

/******** Logo ************/

.logo {
  margin-top: 32px;
  margin-bottom: 0;
  margin-top: 10px;
  display: inline-block;
}

/******** navbar elements ************/
.navbar-nav {
  margin-top: 10px;
}
.navbar-nav > li {
  margin-left: 10px;
}
.navbar-nav > li > a {
  font-weight: 700;
  font-size: 16px;
  color: $tertiary-dark;
  text-transform: uppercase;
  padding-bottom: 24px;
}
li.drop {
  position: relative;
}
li ul.drop-down {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 71px;
  left: 0;
  width: 190px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
li ul.drop-down li {
  list-style: none;
  display: block;
  margin: 0;
}
li ul.drop-down li ul.drop-down.level3 {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  top: 0px;
  left: 100%;
  border-bottom: none;
}
li ul.drop-down li a {
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  display: block;
  color: $dark;
  padding: 12px 20px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  border: none;
}
li ul.drop-down li a:hover {
  background: rgba(0, 0, 0, 0.9);
  color: $light;
}
li ul.drop-down li:hover ul.drop-down.level3 {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
li ul.drop-down li:last-child {
  border-bottom: none;
}
li:hover > ul.drop-down {
  visibility: visible;
  opacity: 1;
}

/*************** Responsive styling ************/

// bootstrap xs
@media (max-width: 767px) {
  .logo{
    margin-left: 25%;
  }
}

// bootstrap sm
@media (min-width: 768px) and (max-width: 991px) {
  .logo{
    margin-left: 25%;
  }
}

// bootstrap md
@media (min-width: 992px) and (max-width: 1199px) {

}

// bootstrap lg
@media (min-width: 1200px) {

}


