<section class="header-wrapper navgiation-wrapper">

  <div class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#my-choices-target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#my-profile-target">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </button>
        <a class="logo" [routerLink]="['/']">
          <img alt="" src="/assets/images/logo.png">
        </a>
      </div>

      <div class="navbar-collapse collapse navbar-left" id="my-choices-target">

        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['donations']">Donations</a>
          </li>

          <li *ngIf="isAuthenticated">
            <a [routerLink]="['donations','create']">Create Donation</a>
          </li>

          <li>
            <a  [routerLink]="['about']">About Us</a>
          </li>

          <li>
            <a  [routerLink]="['contact']">Contact</a>
          </li>

          <li>
            <a  [routerLink]="['faq']">FAQ</a>
          </li>
        </ul>

      </div>

      <div class="navbar-collapse collapse navbar-right" id="my-profile-target">

        <ul class="nav navbar-nav" >
          <li *ngIf="!isAuthenticated" class="drop">
            <a  >
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              My Profile
            </a>
            <ul class="drop-down">
              <li *ngIf="!isAuthenticated">
                <a [routerLink]="['profiles', 'register']">
                  Register
                </a>
              </li>

              <li *ngIf="!isAuthenticated">
                <a [routerLink]="['profiles', 'login']">
                  Login
                </a>
              </li>
            </ul>
          </li>

          <li *ngIf="isAuthenticated" class="drop">
            <a  >
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              {{myPofile.username}}
            </a>
            <ul class="drop-down">
              <li>
                <a [routerLink]="['profiles', 'my']">
                  My profile
                </a>
              </li>
              <li>
                <a [routerLink]="['donations','my']" [queryParams]="{username: myPofile.username}">
                  My donations
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a [routerLink]="[]" (click)="logout($event)">
                  Log out
                </a>
              </li>
            </ul>
          </li>

        </ul>

      </div>

    </div>
  </div>

</section>
