<div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

  <div class="team-layout-1">

    <figure class="team-member">
      <a [routerLink]="['/']" title="ALEXANDER GARY">
        <img src="/assets/images/team_9.jpg" alt="ALEXANDER GARY"/>
      </a>

    </figure> <!-- end. team-member  -->

    <article class="team-info">
      <h3>ALEXANDER GARY</h3>
      <h4>Co-Founder</h4>
    </article>

    <div class="team-content">

      <div class="team-social-share text-center clearfix">
        <a class="fa fa-facebook rectangle" [routerLink]="['/']" title="Facebook"></a>
        <a class="fa fa-twitter rectangle" [routerLink]="['/']" title="Twitter"></a>
        <a class="fa fa-google-plus rectangle" [routerLink]="['/']" title="Google Plus"></a>
        <a class="fa fa-linkedin rectangle" [routerLink]="['/']" title="Linkedin"></a>
      </div> <!-- end .author-social-box  -->

    </div>

  </div> <!--  end team-layout-1 -->

</div> <!--  end .col-md-4 col-sm-12  -->
