@import "../../../assets/scss/variables";

.margin-top-11 {
  margin-top: 11px;
}
.donation-detail {
  margin-top: 24px;
  margin-bottom: 24px;
  background: $secondary;
  padding: 30px;
  min-height: 100px;
  border-bottom: 0px solid $secondary-dark;
}
.donation-detail .donation-box {
  padding: 12px 0px;
}
.donation-box {
  background: $secondary;
  padding: 30px;
}
.donation-map {
  display: block;
  width: 100%;
  text-align: center;
}
agm-map{
  height: 400px;
}
.donation-box-title {
  margin-bottom: 24px;
}
.donation-box-title h2 {
  font-size: 32px;
  margin: 32px 0 24px 0;
}
.donation-content-title {
  font-size: 24px;
  border-bottom: 3px solid $secondary-dark;
  color: $tertiary-dark;
  padding-bottom: 15px;
  position: relative;
}
.donation-content-title:after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 32px;
  background: $primary;
}
.donation-content-info {
  font-size: 14px;
}
.donation-sub-content-title {
  margin-top: 12px;
  font-weight: bold;
  display: block;
}
.donation-sub-content-title em.date {
  font-weight: normal;
  border-bottom: 1px dashed $tertiary;
  cursor: help;
}

.article-author {
  margin-top: 24px;
  background: $secondary;
  padding: 30px;
  min-height: 100px;
  padding-bottom: 24px;
}
.article-author .author-avatar img {
  width: 100px;
  max-width: 100%;
  max-height: auto;
  float: right;
  border: 1px solid $secondary-dark;
  padding: 3px;
  margin-top: 0px;
  margin-left: 12px;
}
.article-author .about_author {
  margin-bottom: 24px;
}
.article-author .social-icons a {
  display: inline-block;
  text-align: center;
  border: 1px solid $secondary-dark;
  color: $tertiary-dark;
  margin-right: 3px;
}
.article-author .social-icons a:hover {
  color: $primary;
}
.article-author .social-icons a {
  display: inline-block;
  text-align: center;
  border: 1px solid $secondary-dark;
  color: $tertiary-dark;
  margin-right: 3px;
}
.article-author .social-icons a:hover {
  color: $primary;
}
.social-icons {
  clear: both;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $secondary-dark;
}
.social-icons a {
  border: 1px solid $secondary-dark;
  color: $light;
  display: inline-block;
  font-size: 15px;
  height: 35px;
  line-height: 33px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 35px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.social-icons a:hover {
  background: $secondary-dark;
}

/* RESPONSIVE STYLING */
/***********************************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1300px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {

}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
}
