<app-banner content="Detail d'une damnde"></app-banner>

<section *ngIf="donation" class="section-relative">

  <div class="container">

    <div class="row">

      <div class="donation-detail clearfix">

        <div class="col-sm-12">

          <article class="post donation-box">

            <div class="donation-box-title">
              <h2> Appel au don de sang de type {{donation.bloodType}} avant le {{donation.deadline | date:'medium'}} </h2>
              <p class="single-post-meta">
                <i class="fa fa-user"></i>&nbsp; {{donation.applicant.username}}
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{donation.createdOn | date:'medium'}}
                <i class="fa fa-map-marker" aria-hidden="true"></i> {{donation.city}}, {{donation.applicant.address.country}}


              </p>
            </div>

            <div class="donation-box-content">
              <p> {{donation.description}} </p>
            </div>

          </article> <!--  end single-post-container -->

        </div> <!--  end .single-post-container -->

        <div class="col-sm-4">

          <h4 class="donation-content-title"> Demande </h4>

          <p class="donation-content-info">

            <span class="donation-sub-content-title"> Groupe sanguin : {{donation.bloodType}} </span>

            <span class="donation-sub-content-title"> Date limite : {{donation.deadline | date:'medium'}} </span>

            <span class="donation-sub-content-title"> Tél : {{donation.phoneNumber}} </span>

            <span class="donation-sub-content-title"> Ville : {{donation.city}} </span>

            <span class="donation-sub-content-title"> Statut : {{donation.status}} </span>

            <span class="donation-sub-content-title"> Créée :  {{donation.createdOn | date:'medium'}} </span>

          </p>
        </div> <!-- end .col-sm-4  -->

        <div class="col-sm-4">

          <h4 class="donation-content-title"> Demandeur </h4>

          <p class="donation-content-info">

            <span class="donation-sub-content-title"> Nom : {{donation.applicant.lastName}} </span>

            <span class="donation-sub-content-title"> Prénom : {{donation.applicant.firstName}} </span>

            <span class="donation-sub-content-title"> Email : {{donation.applicant.email}} </span>

            <span class="donation-sub-content-title"> Tél : {{donation.applicant.phoneNumber}} </span>

          </p>

        </div> <!-- end .col-sm-4  -->

        <div class="col-sm-4">

          <h4 class="donation-content-title"> Adresse du demandeur</h4>

          <p class="donation-content-info">

            <span class="donation-sub-content-title"> {{donation.applicant.address.street}} </span>

            <span class="donation-sub-content-title"> {{donation.applicant.address.zipCode}} - {{donation.applicant.address.city}} </span>

            <span class="donation-sub-content-title"> {{donation.applicant.address.country}} </span>

          </p>

        </div> <!-- end .col-sm-4  -->


        <div class="col-sm-12">

          <h4 class="donation-content-title"> Maps </h4>

          <div class="donation-map">
            <img alt="" src="/assets/images/event_single.jpg">
          </div>

        </div>

      </div>

    </div> <!--  end .row  -->

  </div> <!--  end container -->

</section> <!-- end .section-content-block  -->
