<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

  <div class="process-layout">

    <figure class="process-img">

      <img src="/assets/images/process_1.jpg" alt="process" />
      <div class="step">
        <h3>1</h3>
      </div>
    </figure> <!-- end .process-img  -->

    <article class="process-info">
      <h2>Registration</h2>
      <p>You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process.</p>
    </article>

  </div> <!--  end .process-layout -->

</div> <!--  end .col-lg-3 -->
