<div class="col-lg-4 col-md-4 col-sm-12">

  <div class="latest-news-container">

    <a [routerLink]="['/']">
      <figure>
        <img src="/assets/images/blog_1.jpg" alt="latest news">
      </figure>
    </a>

    <div class="news-content">

      <h3>
        <a [routerLink]="['/']">Blood Connects Us All in a Soul</a>
      </h3>

      <div class="news-meta-info">
        <i class="fa fa-clock-o"></i> April 4, 2017
        &nbsp; <i class="fa fa-comment-o"></i> 10 Comments
      </div>

      <div class="update-details">
        In many countries, demand exceeds supply, and blood services face the challenge of making blood available for patient.
      </div>

    </div>

  </div><!--  end .latest-news-container  -->

</div> <!--  end col-lg-4  -->
