<!-- HIGHLIGHT CTA  -->
<section class="cta-section-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2>We are helping people from 40 years</h2>
        <p>
          You can give blood at any of our blood donation venues all over the world. We have total sixty thousands donor centers and visit thousands of other venues on various occasions.
        </p>
      </div> <!--  end .col-md-8  -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a class="btn btn-cta-1" [routerLink]="['/']">REQUEST APPOINTMENT</a>
      </div> <!--  end .col-md-4  -->
    </div> <!--  end .row  -->
  </div>
</section>
