<app-page-header content="Login"></app-page-header>

<section class="section-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="form-wrapper">
          <div class="form-box">

            <div class="form-top">
              <div class="form-top-left">
                <h1>Login </h1>
                <p>Enter username and password to log on:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-key"></i>
              </div>
            </div>

            <div class="form-bottom">
              <form name="loginForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                <div class="form-group">
                  <label class="sr-only" for="username"> Username </label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username..."
                         [formControl]="myForm.controls['username']"/>
                  <app-field-error-display [myControl]="myForm.controls['username']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="email"> Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email..."
                         [formControl]="myForm.controls['email']"/>
                  <app-field-error-display [myControl]="myForm.controls['email']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="password"> Password </label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password..."
                         [formControl]="myForm.controls['password']"/>
                  <app-field-error-display [myControl]="myForm.controls['password']"></app-field-error-display>
                </div>


                <div class="form-group">
                  <button type="submit" class="btn btn-form-principal">Login</button>
                </div>

                <div class="form-group text-right">
                  <a [routerLink]="['../register']">
                    <button type="button" class="btn btn-form-secondary">
                      Register
                    </button>
                  </a>
                </div>

              </form>

            </div>

          </div>

          <div class="social-login">
            <h3>...or login with:</h3>
            <div class="social-login-buttons">
              <a class="btn-link-social btn-link-social-facebook">
                <i class="fa fa-facebook"></i> Facebook
              </a>
              <a class="btn-link-social btn-link-social-twitter">
                <i class="fa fa-twitter"></i> Twitter
              </a>
              <a class="btn-link-social btn-link-social-google-plus">
                <i class="fa fa-google-plus"></i> Google Plus
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



