<div *ngIf="filteredList.length > 0">
  <ul >
    <li *ngFor="let item of filteredList">
      <a href="#" (click)="select(item)">{{item}}</a>
    </li>
  </ul>
</div>

<!--<ul class="typeahead dropdown-menu" role="listbox" style="top: 54px; left: 15px; display: none;">
  <li class=""><a class="dropdown-item" href="#" role="option">Laravel</a></li>
  <li class="active"><a class="dropdown-item" href="#" role="option">Laravel 5</a></li>
  <li class=""><a class="dropdown-item" href="#" role="option">Laravel 5.2</a></li>
  <li><a class="dropdown-item" href="#" role="option">Laravel 4</a></li>
  <li><a class="dropdown-item" href="#" role="option">Laravel Cashier</a></li>
  <li><a class="dropdown-item" href="#" role="option">Laravel Eloquent</a></li>
  <li><a class="dropdown-item" href="#" role="option">Laravel Builder</a></li>
  <li><a class="dropdown-item" href="#" role="option">thomaswelton/laravel-gravatar</a></li>
</ul>-->
