<div>

  <div class="post-thumbnail-container">

    <a>
      <figure>
        <img [src]="post.image">
      </figure>
    </a>

    <div class="post-thumbnail-content">

      <h3>
        <a> {{post.title}} </a>
      </h3>

      <div class="post-thumbnail-meta-info">
        <i class="fa fa-user"></i>&nbsp; {{post.author.username}}
        &nbsp; <i class="fa fa-clock-o"></i> {{post.publish}}
        &nbsp; <i class="fa fa-comment-o"></i> {{post.commentsCount}} Comments
      </div>

      <div [innerHtml]="post.content | slice:0:400 | safeHtml"></div>

    </div>

    <div class="text-right button-container">
      <a [routerLink]="['/blog', 'detail', post.slug]" >
        <button type="button" class="btn btn-prim">
          Detail
        </button>
      </a>
    </div>

  </div>

</div>

