<section class="header-wrapper navgiation-wrapper">

  <div class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo"  >
          <img alt="" src="/assets/images/logo.png">
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="drop">
            <a   title="Home Layout 01">Home</a>
            <ul class="drop-down">
              <li><a   title="Home Layout 01">Home Layout 1</a></li>
              <li><a   title="Home Layout 02">Home Layout 2</a></li>
            </ul>
          </li>
          <li><a   title="About Us">About Us</a></li>



          <li>
            <a  >Campaign</a>
            <ul class="drop-down">
              <li><a  >All Campaigns</a></li>
              <li><a  >Single Campaign</a></li>
            </ul>
          </li>

          <li class="drop"><a  >Pages</a>
            <ul class="drop-down">


              <li><a   title="FAQ">FAQ</a></li>
              <li class="drop"><a  >Gallery</a>
                <ul class="drop-down level3">
                  <li><a  >Layout 01</a></li>
                  <li><a  >Layout 02</a></li>

                </ul>
              </li>
              <li><a   title="404 Page">404 Page</a></li>
              <li class="drop"><a  >Level 3</a>
                <ul class="drop-down level3">
                  <li><a  >Level 3.1</a></li>
                  <li><a  >Level 3.2</a></li>
                  <li><a  >Level 3.3</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a  >Blog</a>
            <ul class="drop-down">
              <li><a  >All Posts</a></li>
              <li><a  >Single Page</a></li>
            </ul>
          </li>

          <li><a  >Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
