.navgiation-wrapper {
  background: #ffffff;
}
.navbar-default {
  border: none;
  background: transparent;
  margin-bottom: 0px;
  padding: 12px 0;
}
.navbar-header {
  width: 20%;
  //text-align: center;
  clear: both;
  float: left;
  margin: 0 ;
}
.navbar-toggle {
  margin: 22px 0 0 0;
  padding: 5px;
}
.icon-bar {
  height: 1px;
}
.logo {
  margin-top: 32px;
  margin-bottom: 0;
  margin-top: 10px;
  display: inline-block;
  //text-align: center;
  width: 10%;
}
.navbar-nav {
  margin-top: 10px;
}
.navbar-nav > li {
  margin-left: 10px;
}
.navbar-nav > li > a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.navbar-nav > li > a:hover {
  color: #000000;
}
li.drop {
  position: relative;
}
li ul.drop-down {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 71px;
  left: 0;
  width: 190px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
li ul.drop-down li {
  list-style: none;
  display: block;
  margin: 0;
}
li ul.drop-down li ul.drop-down.level3 {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  top: 0px;
  left: 100%;
  border-bottom: none;
}
li ul.drop-down li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  display: block;
  color: #000000;
  padding: 12px 20px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  border: none;
}
li ul.drop-down li a:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}
li ul.drop-down li:hover ul.drop-down.level3 {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
li ul.drop-down li:last-child {
  border-bottom: none;
}
li:hover > ul.drop-down {
  visibility: visible;
  opacity: 1;
}

/* Responsive styling */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {
  li ul.drop-down {
    top: 68px;
  }
  .navbar-header {
    width: 100%;
    text-align: center;
    clear: both;
    float: none ;
    margin: 0 ;
  }
  .navbar-toggle {
    margin: 22px 0 0 0;
    padding: 5px;
  }
  .icon-bar {
    height: 1px;
  }
  .navbar-right {
    float: none;
    padding: 0;
    margin: 12px 70px 0 0;
  }
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav > li {
    margin-left: 0;
  }
  .nav > li > a {
    padding: 15px 12px;
    padding-bottom: 22px;
  }
  logo {
    text-align: center;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    margin-top: 24px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .icon-bar {
    color: #fe3c47;
  }
  .navbar-right {
    width: 100%;
    text-align: left;
  }
  .navbar-collapse {
    background: #0d0d0d;
    margin-top: 12px;
    padding: 12px 0;
  }
  li ul.drop-down,
  li ul.drop-down li ul.drop-down.level3 {
    background: transparent;
    border: none;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    width: auto;
    visibility: visible;
    opacity: 1;
    top: inherit;
    left: inherit;
  }
  li ul.drop-down li a,
  li ul.drop-down li ul.drop-down.level3 li a {
    background: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: inherit;
    padding: 4px 20px;
  }
  li ul.drop-down li a:hover,
  li ul.drop-down li ul.drop-down.level3 li a:hover {
    color: #ffffff;
  }
  .navbar-nav {
    margin: 0px;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
  }
  .navbar-nav li a {
    font-weight: bold;
    color: #fe3c47;
  }
  .drop-down li a {
    color: #ffffff;
  }
  .logo {
    text-align: center;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .navbar-toggle {
    margin: 20px 0 0 0;
    padding: 5px 3px;
  }
  .icon-bar {
    height: 1px;
  }
  .navbar-nav {
    margin: 0px;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
  }
  .navbar-nav li {
    margin-left: 0px;
  }
  .navbar-nav li a {
    font-weight: bold;
    color: #fe3c47;
  }
  .navbar-nav .drop-down li a {
    color: #ffffff;
  }
  .logo {
    text-align: center;
    width: 75%;
    text-align: center;
  }

}

