<div class="comment-form">

  <div class="topic-bold-header clearfix">
    <h4>Leave a reply</h4>
  </div>

  <form role="form" [formGroup]="myForm"  (submit)="onFormSubmit()">
    <div class="form-group">
      <textarea  [formControl]="myForm.controls['reply']"
                 class="form-control" id="reply"
                 rows="5" name="reply" placeholder="Write Your reply">
      </textarea>
    </div>
    <div class="form-group">
      <button [disabled]="!myForm.valid" type="submit" class="btn btn-prim">Submit Comment</button>
      <button *ngIf="showCancelButton" type="button" class="btn btn-prim pull-right"
              (click)="onCancelReply($event)"> Cancel </button>
    </div>
  </form>

</div>
