@import "../../../assets/scss/variables";

/* Comment form styles */

.comment-form{
  border: 0px solid $secondary-dark;
  background-color: $secondary;
  padding: 30px;
  margin-top: 10px;
}

.comment-form label {
  margin-bottom: 12px;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url],
.comment-form input[type=password] {
  border: 0px;
  border-bottom: 1px solid $secondary-dark;
  line-height: 42px;
  height: 42px;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.comment-form input[type=text]:focus,
.comment-form input[type=email]:focus,
.comment-form input[type=url]:focus,
.comment-form input[type=password]:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid $tertiary;
}
.comment-form textarea {
  border: 0px;
  border-bottom: 1px solid $secondary-dark;
  padding: 12px;
  margin-bottom: 24px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.comment-form textarea:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-bottom: 1px solid $tertiary;
}
