@import "../../../assets/scss/variables";

.top-bar {
  text-align: center;
}
.top-bar {
  background: $primary;
  line-height: 20px;
  color: $light;
  font-size: 14px;
}
.top-bar i {
  color: $light;
  margin-right: 5px;
  display: inline-block;
}
.top-bar a {
  color: $light;
}
.top-bar p {
  margin-top: 10px;
  color: $light;
}
.top-bar-social {
  float: right;
  margin-right: 12px;
  margin-top: 5px;
  margin-bottom: 6px;
  color: $light;
  font-size: 16px;
  border: 0px solid $light;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.top-bar-social a {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.top-bar-social a i.fa {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-align: center;
  color: $tertiary;
  background: $secondary;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  top: -2px;
}
.top-bar-social a:hover i.fa {
  color: $primary;
  background: $secondary;
}

/* Responsive styling */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {
  .top-bar {
    text-align: center;
  }
  .top-bar-social {
    float: none;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .top-bar {
    text-align: center;
  }
  .top-bar-social {
    float: none;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .top-bar-social {
    float: none;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
