<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-blog-post-thumbnail> </app-blog-post-thumbnail>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-blog-post-comment></app-blog-post-comment>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-blog-post-author></app-blog-post-author>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-blog-post-box></app-blog-post-box>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-blog-post-comment-form></app-blog-post-comment-form>
    </div>
  </div>
</div>
