/* buttons      Styles */
/*---------------------*/
.btn-prim {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid $secondary-dark;
  background: $primary;
  color: $light;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-prim:hover {
  border-color: $dark;
  color: $primary;
  background: $light;
}

.btn-sec {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid $dark;
  background: $secondary;
  color: $dark;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-sec:hover {
  border-color: $secondary;
  color: $secondary;
  background: $dark;
}

.btn-tert{
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid $secondary-dark;
  background: $tertiary;
  color: $light;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-tert:hover {
  border-color: $dark;
  color: $tertiary;
  background: $light;
}
