@import "../../../../assets/scss/variables";

/* Page Header  */
/*--------------*/
.page-header {
  margin: 0;
  background-color: $dark;
}
.page-header h3 {
  color: $light;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

