.section-content-block {
  padding: 100px 0 100px 0;
  background: #ffffff;
}
.section-process {
  position: relative;
  overflow: hidden;
}
/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1300px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {

}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
}
