<app-banner content="Création d'une damnde"></app-banner>

<section class="section-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="form-wrapper">
          <div class="form-box">

            <div class="form-top">
              <div class="form-top-left">
                <h1>Create Donation </h1>
                <p>Enter information:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>


            <div class="form-bottom">
              <form name="createDonationForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="deadlineDay"> Deadline Day </label>
                      <input type="text" class="form-control" id="deadlineDay" name="deadlineDay"
                             placeholder="Deadline Day..."
                             formControlName="deadlineDay"
                             autocomplete="off"
                             bsDatepicker
                             [bsConfig]="bsDatePickerConfig"
                      />
                      <app-field-error-display [myControl]="myForm.get('deadlineDay')"></app-field-error-display>
                    </div>
                  </div>

                  <div class="col-xs-offset-4 col-xs-6 col-sm-6 col-sm-offset-0">
                    <div class="form-group">
                      <label class="sr-only" for="deadlineTime"> Deadline </label>
                      <timepicker id="deadlineTime" formControlName="deadlineTime"></timepicker>
                      <app-field-error-display [myControl]="myForm.get('deadlineTime')"></app-field-error-display>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="sr-only" for="description"> Description </label>
                  <textarea class="form-control" id="description" name="description"
                            placeholder="Description..."
                            autocomplete="off"
                            [formControl]="myForm.controls['description']" ></textarea>
                  <app-field-error-display [myControl]="myForm.controls['description']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="city"> City </label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City..."
                         autocomplete="off"
                         [formControl]="myForm.controls['city']"/>
                  <app-field-error-display [myControl]="myForm.controls['city']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-5">
                      <label class="sr-only" for="countryCode"> Country Code </label>
                      <select class="form-control" id="countryCode" name="countryCode"
                              autocomplete="off"
                              formControlName="countryCode">
                        <option value="+33" label="+33"> </option>
                        <option value="+212" label="+212"> </option>
                      </select>
                    </div>
                    <div class="col-xs-7">
                      <label class="sr-only" for="phoneNumber"> Phone number </label>
                      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                             autocomplete="off"
                             placeholder="Phone Number..."
                             [formControl]="myForm.controls['phoneNumber']"
                             #inputMaskDir=inputMaskDirective appInputMask  [mask]="phoneMask"
                             (onCompleteUnmaskedValue)="unmaskedPhoneNumber = $event"/>
                      <app-field-error-display [myControl]="myForm.controls['phoneNumber']"></app-field-error-display>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="status"> Status </label>
                  <select type="text" class="form-control" id="status" name="status" placeholder="Status..."
                          autocomplete="off"
                          [formControl]="myForm.controls['status']">
                    <option value="Urgent" label="Urgent"> </option>
                  </select>
                </div>

                <div class="form-group">
                  <button [disabled]="!myForm.valid || !inputMaskDir.completed" type="submit" class="btn btn-prim">Create</button>
                </div>

                        
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
