<app-page-header content="Création d'une damnde"></app-page-header>

<section class="form-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="form-wrapper">
          <div class="form-box">

            <div class="form-top">
              <div class="form-top-left">
                <h1>Create Donation </h1>
                <p>Enter information:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>


            <div class="form-bottom">
              <form type="submit" name="createDonationForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">


                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="deadlineDay"> Deadline Day </label>
                      <input type="text" class="form-control" id="deadlineDay" name="deadlineDay" placeholder="Deadline Day..."
                             formControlName="deadlineDay"
                             bsDatepicker
                      />
                      <app-field-error-display [myControl]="myForm.get('deadlineDay')"></app-field-error-display>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="deadlineTime"> Deadline </label>
                      <timepicker class="timePickerClass" id="deadlineTime" formControlName="deadlineTime" ></timepicker>
                      <app-field-error-display [myControl]="myForm.get('deadlineTime')"></app-field-error-display>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="sr-only" for="description"> Description </label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Description..."
                         [formControl]="myForm.controls['description']"/>
                  <app-field-error-display [myControl]="myForm.controls['description']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="city"> City </label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City..."
                         [formControl]="myForm.controls['city']"/>
                  <app-field-error-display [myControl]="myForm.controls['city']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="phoneNumber"> Phone number </label>
                  <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number..."
                         [formControl]="myForm.controls['phoneNumber']"/>
                  <app-field-error-display [myControl]="myForm.controls['phoneNumber']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="status"> Status </label>
                  <input type="text" class="form-control" id="status" name="status" placeholder="Status..."
                         [formControl]="myForm.controls['status']"/>
                  <app-field-error-display [myControl]="myForm.controls['status']"></app-field-error-display>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-form">Create</button>
                </div>

                        
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
