@import "../../../../assets/scss/variables";

.section-content-block {
  padding: 100px 0 100px 0;
  background: $light;
}
.cta-section-tertiary {
  background: transparent;
  background-image: url('/assets/images/cta-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: $light;
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
}
.cta-section-tertiary:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  content: '';
}
.cta-section-tertiary .cta-content {
  color: $light;
}
.cta-section-tertiary .cta-content h2 {
  font-size: 70px;
  color: $light;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 65px;
  font-weight: 500;
}

.cta-section-tertiary .cta-content a.btn-cta-tertiary {
  background: $primary;
  color: $light;
  border: 3px solid $primary;
  font-size: 22px;
  font-weight: 700;
  height: 60px;
  line-height: 42px;
  margin-bottom: 6px;
  margin-top: 24px;
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  transition: all 0.3s ease-out 0.2s;
}
.cta-section-tertiary .cta-content a.btn-cta-tertiary:hover{
  background: $light;
  color: $tertiary-dark;
}

/* RESPONSIVE STYLING */
/***********************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
  .cta-section-tertiary .cta-content {
    color: $light;
  }
  .cta-section-tertiary .cta-content h2 {
    font-size: 42px;
    line-height: 60px;
  }
  .cta-section-tertiary .cta-content a.btn-cta-tertiary {
    margin-top: 0px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
  .cta-section-tertiary .cta-content {
    color: $light;
  }
  .cta-section-tertiary .cta-content h2 {
    font-size: 42px;
    line-height: 60px;
  }
  .cta-section-tertiary .cta-content a.btn-cta-tertiary {
    margin-top: 0px;
  }
}
