<div class="col-md-4">

  <div class="card">
    <div class="card-content">
      <div class="card-header-red">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-user-circle fa-4x icon-pad" aria-hidden="true"> </i>
          </div>
          <div class="col-md-10">
            <h1 class="card-heading"> {{donation.applicant.firstName}} {{donation.applicant.lastName}} </h1>
          </div>
        </div>
      </div>

      <div class="card-body">
            <ul>
              <li>Groupe sanguin : {{donation.bloodType}}</li>
              <li> <i class="fa fa-calendar" aria-hidden="true"> Crée {{donation.createdOn}}  </i> </li>
              <li> <i class="fa fa-clock-o" aria-hidden="true"> Deadline  {{donation.deadline}}  </i> </li>
              <li><i class="fa fa-globe" aria-hidden="true"> Ville : {{donation.city}} </i> </li>
              <li><i class="fa fa-phone" aria-hidden="true"> Tél : {{donation.phoneNumber}} </i> </li>
            </ul>
      </div>

          <nav class="nav-tabs">
            <ul class="nav nav-pills pull-left">
              <li class="card-action"><a href="#">Detail</a></li>
              <li class="card-action"><a href="#">Link</a></li>
              <li class="card-action"><a href="#">Link</a></li>
              <li class="card-action"><a href="#">Link</a></li>
            </ul>

          </nav>

      </div>
  </div>
</div>

    <!--<i class="fa fa-tint" aria-hidden="true"></i>-->
<!--<i class="fa fa-user-circle fa-2x text-center" aria-hidden="true"> </i>-->


<!--<div class="col-md-4">-->
  <!--<div class="card">-->
    <!--<div class="card-content">-->

      <!--<div class="card-header-red">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<i class="fa fa-user-circle fa-4x icon-pad" aria-hidden="true"> </i>-->
          <!--</div>-->
          <!--<div class="col-md-10">-->
            <!--<h1 class="card-heading"> {{donation.applicant.firstName}} {{donation.applicant.lastName}} </h1>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="card-body">-->
        <!--<p class="card-p">-->
          <!--There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,-->
          <!--or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there-->
          <!--isn't anything embarrassing hidden in the middle of text.-->
        <!--</p>-->
      <!--</div>-->

      <!--<nav class="nav-tabs">-->
        <!--<ul class="nav nav-pills pull-left">-->
          <!--<li class="card-action"><a href="#">Link</a></li>-->
          <!--<li class="card-action"><a href="#">Link</a></li>-->
          <!--<li class="card-action"><a href="#">Link</a></li>-->
          <!--<li class="card-action"><a href="#">Link</a></li>-->
        <!--</ul>-->

      <!--</nav>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
