<div class="col-md-4">

  <div class="card">
    <div class="card-content">
      <div class="card-header-red">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-user-circle fa-4x icon-pad" aria-hidden="true"> </i>
          </div>
          <div class="col-md-10">
            <h1 class="card-heading"> {{donation.applicant.firstName}} {{donation.applicant.lastName}} </h1>
          </div>
        </div>
      </div>

      <div class="card-body">
            <ul>
              <li>Groupe sanguin : {{donation.bloodType}}</li>
              <li> <i class="fa fa-calendar" aria-hidden="true"> Crée {{donation.createdOn}}  </i> </li>
              <li> <i class="fa fa-clock-o" aria-hidden="true"> Deadline  {{donation.deadline}}  </i> </li>
              <li><i class="fa fa-globe" aria-hidden="true"> Ville : {{donation.city}} </i> </li>
              <li><i class="fa fa-phone" aria-hidden="true"> Tél : {{donation.phoneNumber}} </i> </li>
            </ul>
      </div>

          <nav class="nav-tabs">
            <ul class="nav nav-pills pull-left">
              <li class="card-action" *ngIf="showDetailButton"><a [routerLink]="['../detail', donation.id]">Detail</a></li>
              <li class="card-action" *ngIf="showUpdateButton"><a [routerLink]="['../update', donation.id]">Update</a></li>
            </ul>

          </nav>

      </div>
  </div>
</div>
