#preloader {
  background: #ffffff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#preloader span {
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
}
