<app-banner></app-banner>
<app-blog-post></app-blog-post>
<app-blog-post-list></app-blog-post-list>
<app-blog-post-box></app-blog-post-box>
<app-call-to-action-1></app-call-to-action-1>
<app-call-to-action-2></app-call-to-action-2>
<app-call-to-action-3></app-call-to-action-3>
<app-contact-us></app-contact-us>
<app-counter-block></app-counter-block>
<app-event-box></app-event-box>
<app-event-single></app-event-single>
<app-faq></app-faq>
<app-gallery-item></app-gallery-item>
<app-gallery-section></app-gallery-section>
<app-page-header></app-page-header>
<app-process-layout></app-process-layout>
<app-process-section></app-process-section>
<app-section-404></app-section-404>
<app-section-heading></app-section-heading>
<app-sponsor-box></app-sponsor-box>
<app-sponsors-section></app-sponsors-section>
<app-team-member></app-team-member>
<app-team-section></app-team-section>
<app-testimonial-section></app-testimonial-section>
<app-testimony-layout></app-testimony-layout>
