<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center text-white text-uppercase padding-lg">
          <div>
            <div class="text-bold text-20 letter-spacing-5">
              <i class="fa fa-car" aria-hidden="true"></i> Content here here here
            </div>
            <div class="text-light text-12 letter-spacing-3">
              another content here here here here <span class="text-bold"> another content </span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        Choice 1
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        Choice 2
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        Choice 3
      </div>
    </div>
  </div>
</div>
