<div class="container">

  <h2 class="text-center"> Register </h2>

  <div class="row">

    <form type="submit" name="registerForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <div class="row">

      <div class="col-md-6">
        <h3 class="text-center"> Infos 1 </h3>

        <div class="form-group">
          <label> Username </label>
          <input type="text" class="form-control" name="username" formControlName="username"/>
          <app-field-error-display [myControl]="myForm.controls['username']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Email</label>
          <input type="email" class="form-control" name="email" formControlName="email" />
          <app-field-error-display [myControl]="myForm.controls['email']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Password </label>
          <input type="password" class="form-control" name="password" formControlName="password" />
          <app-field-error-display [myControl]="myForm.controls['password']"></app-field-error-display>
        </div>
      </div>

      <div class="col-md-6">
        <h3 class="text-center"> Infos 2 </h3>

        <div class="form-group">
          <label> First Name </label>
          <input type="text" class="form-control" name="firstName" formControlName="firstName" />
          <app-field-error-display [myControl]="myForm.controls['firstName']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Last Name </label>
          <input type="text" class="form-control" name="lastName" formControlName="lastName" />
          <app-field-error-display [myControl]="myForm.controls['lastName']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Phone Number</label>
          <input type="tel" class="form-control" name="phoneNumber" formControlName="phoneNumber" />
          <app-field-error-display [myControl]="myForm.controls['phoneNumber']"></app-field-error-display>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center"> Infos 3 </h3>

        <div class="form-group">
          <label> Birth Date </label>
          <input type="date" class="form-control" name="birthDate" formControlName="birthDate" />
          <app-field-error-display [myControl]="myForm.controls['birthDate']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Blood Type </label>
          <input type="text" class="form-control" name="bloodType" formControlName="bloodType" />
          <app-field-error-display [myControl]="myForm.controls['bloodType']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Email Notification </label>
          <input type="checkbox" class="form-control" name="emailNotification" formControlName="emailNotification" />
          <app-field-error-display [myControl]="myForm.controls['emailNotification']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> SMS Notification </label>
          <input type="checkbox" class="form-control" name="smsNotification" formControlName="smsNotification" />
          <app-field-error-display [myControl]="myForm.controls['smsNotification']"></app-field-error-display>
        </div>

      </div>

      <div class="col-md-6" formGroupName="address">
        <h3 class="text-center"> Infos 4 </h3>

        <div class="form-group" >
          <label> Street </label>
          <input type="text" class="form-control" name="street" formControlName="street" />
          <app-field-error-display [myControl]="myForm.controls['address'].controls['street']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> City </label>
          <input type="text" class="form-control" name="city" formControlName="city" />
          <app-field-error-display [myControl]="myForm.controls['address'].controls['city']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Country </label>

          <input type="text" class="form-control" name="country" formControlName="country" />
          <app-autocomplete-input [query]="myForm.controls['address'].controls['country'].value" [initialList]="countries"></app-autocomplete-input>
          <app-field-error-display [myControl]="myForm.controls['address'].controls['country']"></app-field-error-display>
        </div>

        <div class="form-group">
          <label> Zip Code </label>
          <input type="text" class="form-control" name="zipCode" formControlName="zipCode" />
          <app-field-error-display [myControl]="myForm.controls['address'].controls['zipCode']"></app-field-error-display>
        </div>
      </div>

    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Register</button>
      <a [routerLink]="['../login']" class="btn btn-link">Login</a>
    </div>

    <app-my-typeahead-container [initialList]="countries" query="a"> </app-my-typeahead-container>
              
    </form>

  </div>


</div>
