<div>

  <div class="post-thumbnail-container">

    <a>
      <figure>
        <img src="/assets/images/blog_1.jpg">
      </figure>
    </a>

    <div class="post-thumbnail-content">

      <h3>
        <a  >Blood Connects Us All in a Soul</a>
      </h3>

      <div class="post-thumbnail-meta-info">
        <i class="fa fa-user"></i>&nbsp; Deborah Beck
        &nbsp; <i class="fa fa-clock-o"></i> April 4, 2017
        &nbsp; <i class="fa fa-comment-o"></i> 10 Comments
      </div>

      <div>
        In many countries, demand exceeds supply, and blood services face the challenge of making blood available for patient.
      </div>

    </div>

  </div>

</div>

