<div>

  <div class="post-thumbnail-container">

    <a>
      <figure>
        <img [src]="post.image">
      </figure>
    </a>

    <div class="post-thumbnail-content">

      <h3>
        <a> {{post.title}} </a>
      </h3>

      <div class="post-thumbnail-meta-info">
        <i class="fa fa-user"></i>&nbsp; {{post.author.username}}
        &nbsp; <i class="fa fa-clock-o"></i> {{post.publish}}
        &nbsp; <i class="fa fa-comment-o"></i> {{post.commentsCount}} Comments
      </div>

      <div [innerHtml]=" post.content | safeHtml"></div>

    </div>

  </div>

</div>

