<section class="section-content-block no-bottom-padding section-secondary-bg">

  <div class="container">

    <app-section-heading></app-section-heading>

  </div> <!--  end .container -->

  <div class="container-fluid wow fadeInUp">

    <div class="row no-padding-gallery">
      <app-gallery-item></app-gallery-item>
      <app-gallery-item></app-gallery-item>
      <app-gallery-item></app-gallery-item>
      <app-gallery-item></app-gallery-item>
    </div> <!-- end .row  -->

  </div><!-- end .container-fluid  -->

</section> <!-- end .section-content-block  -->
