<div class="testimonial-container text-center col-md-10 col-md-offset-1 col-sm-12">
    <div class="testimony-layout-1">
      <h3 class="people-quote">Donor Opinion</h3>
      <p class="testimony-text">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        I proudly donate blood on a regular basis because it gives others something they desperately need to survive. Just knowing I can make a difference in someone else’s life makes me feel great!
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </p>

      <h6>Brandon Munson</h6>
      <span>CTO, Fulcrum Design, USA</span>
    </div> <!-- end .testimony-layout-1  -->
</div>
