@import "../../../../assets/scss/variables";

.testimonial-container {
  padding: 80px 0px;
  background: $secondary;
}
.testimony-layout-1 {
  position: relative;
  padding: 0;
}
.people-quote {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 24px;
}
.testimony-layout-1 h6 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}
.testimony-layout-1 span {
  font-size: 14px;
  text-transform: uppercase;
  color: $tertiary-dark;
}
p.testimony-text {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 32px;
  margin: 0 0 24px 0;
  padding: 24px 24px 0 24px;
  color: $tertiary-dark;
}
p.testimony-text i {
  color: $tertiary;
  font-style: normal;
  opacity: 0.4;
}

/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .testimonial-container {
    padding: 24px 0px;
  }
}

