/*========================================================================*/
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* Remove margins for navigation lists */
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
textarea {
  overflow: auto;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/***********************************************************************************************/
/*  GENERAL STYLING  */
/***********************************************************************************************/
body {
  font: 18px/28px 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
img {
  max-width: 100%;
}
a {
  color: #fe3c47;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover,
a:focus {
  color: #d3010d;
  text-decoration: none;
}
blockquote {
  font: 'Source Sans Pro', sans-serif;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
  margin: 0 0 16px 0;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h2 + p {
  margin-top: 12px;
}
h3 {
  font-size: 36px;
}
h3 + p {
  margin-top: 12px;
}
h4 {
  font-size: 24px;
}
h4 + p {
  margin-top: 12px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
* + p {
  margin-top: 12px;
}
p {
  font: 18px/28px 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0 0 12px;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
input[type=text]:focus,
input[type=password]:focus,
input[type=submit]:focus,
input[type=button]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
strong {
  font-weight: 600;
}
#preloader {
  background: #ffffff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#preloader span {
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
}
#backTop {
  width: 16px;
  height: 16px;
  padding: 10px;
  border-radius: 0px;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 999999999;
  display: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#backTop:hover {
  opacity: 1;
}
#backTop:after {
  position: absolute;
  content: '-';
  width: 16px;
  height: 16px;
  text-align: center;
  top: 0;
  left: 0;
  color: #FFF;
}
#backTop.custom {
  background-color: #fe3c47;
  background-image: url('../images/uparr-48-b.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid #ffa1a7;
  -webkit-transition: 0.2s 0.2s ease-out;
  -moz-transition: 0.2s 0.2s ease-out;
  -o-transition: 0.2s 0.2s ease-out;
  transition: 0.2s 0.2s ease-out;
}
#backTop.custom:hover {
  background-color: #ffffff;
  border: 0px solid #d3010d;
}
.text-bold {
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.alert,
.progress,
.pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-11 {
  margin-top: 11px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-11 {
  margin-bottom: 11px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-right-0 {
  margin-right: 0px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-0 {
  padding-right: 0px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-11 {
  padding-right: 11px;
}
.no-padding {
  padding: 0px;
}
.inline li {
  display: inline-block;
  margin-right: 24px;
}
.inline li:last-child {
  margin-right: 0;
}
.narrow-p {
  margin: 0 auto 1.5em;
  width: 30%;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
.db {
  display: block;
}
.overflow-hidden {
  overflow: hidden;
}
span.border-light-dotted {
  border-bottom: 1px dotted #fe3c47;
}
span.border-bold-dashed {
  border-bottom: 2px dashed #fe3c47;
}
blockquote {
  padding: 12px 26px 26px 42px;
  margin: 0 0 20px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  background: #ffffff;
  position: relative;
  border: 1px solid #cccccc;
  border-left: 4px solid #4d4d4d;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
blockquote:hover {
  border: 1px solid #a6a6a6;
  border-left: 4px solid #4d4d4d;
}
blockquote p {
  font-size: 14px;
  line-height: 24px;
}
blockquote:before {
  display: block;
  position: absolute;
  left: 12px;
  top: 14px;
  content: "\f10d";
  font-family: 'FontAwesome';
  font-size: 15px;
  color: #d6d6d6;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
blockquote.testimonial {
  background: #ffffff;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0;
}
cite {
  text-align: right;
  display: block;
}
cite:before {
  margin-right: 4px;
}
.bq-author {
  padding: 16px 0 0 110px;
  position: relative;
}
.bq-author:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 69px;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 0 solid transparent;
  border-top: 22px solid #dcdcdc;
  z-index: 2;
}
.bq-author:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-top: 20px solid #fff;
  z-index: 3;
}
.bq-author h6 {
  margin-bottom: 6px;
}
.bq-author .bq-author-info {
  font-size: 12px;
}
ol li {
  padding: 0;
  margin: 0 0 10px 25px;
  list-style-type: decimal;
}
.section-container {
  margin: 24px 0 0 0;
}
.section-heading {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #000000;
}
.section-heading:after {
  background-image: url('../images/separator.png');
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 55px;
  width: 150px;
}
.section-heading span {
  font-style: 400;
  color: #000000;
}
.section-heading-alt {
  color: #ffffff;
}
.section-heading-alt span {
  font-style: 400;
  color: #ffffff;
}
.section-subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
  color: #4d4d4d;
  margin-bottom: 24px;
  padding: 30px 0 0 24px;
  word-spacing: 0.03em;
}
.section-subheading-alt {
  color: #ffffff;
}
.accordion .panel {
  margin-bottom: 3px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.accordion .panel .panel-title a {
  display: block;
}
span.label {
  margin-right: 1px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 100%;
}
#btn,
.btn {
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
#btn:hover,
.btn:hover {
  color: #000000;
}
.btn-dynamism {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 42px;
}
.btn-dynamism:hover {
  background: #fe3c47;
  color: #ffffff;
}
.btn-custom {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid #cccccc;
  background: #fe3c47;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-custom:hover {
  border-color: #a6a6a6;
  color: #fe3c47;
  background: #ffffff;
}
.btn-custom-inverse {
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid #cccccc;
  color: #fe3c47;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-custom-inverse:hover {
  background: #fe3c47;
  color: #ffffff;
}
a.btn-load-more {
  margin-bottom: -36px;
  margin-top: 48px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: transparent;
  color: #fe3c47;
  background: #ffffff;
  border: 1px solid #fe3c47;
  padding: 12px 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
a.btn-load-more:hover {
  color: #ffffff;
  background: #fe3c47;
  border: 1px solid #fe3c47;
}
.button {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: white;
  font-weight: bold;
  height: 3em;
  line-height: 1em;
  padding: 1em;
}
.small-button {
  display: inline-block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #000000;
  font-weight: bold;
  height: 0;
  line-height: 0;
  padding: 1em 1em;
  margin: 6px 0;
  width: 100%;
}
.text-highlighter {
  color: #fe3c47;
}
.text-highlighter-white {
  color: #ffffff;
}
#comment_btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: transparent;
  color: #333333;
  padding: 6px 12px;
}
#comment_btn:hover {
  border: 1px solid #fe3c47;
  color: #fe3c47;
  background: transparent;
}
#contact-form .p-errors label {
  color: lightcoral;
}
#contact-form .p-errors input[type="text"],
#contact-form .p-errors input[type="email"],
#contact-form .p-errors textarea {
  border-color: lightcoral;
}
.wp-caption {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
  line-height: 34px;
}
.sticky {
  margin-bottom: 21px;
  background: #FFFFFF;
}
