/*========================================================================*/
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* Remove margins for navigation lists */
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
textarea {
  overflow: auto;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/***********************************************************************************************/
/*  GENERAL STYLING  */
/***********************************************************************************************/
body {
  font: 18px/28px 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
img {
  max-width: 100%;
}
a {
  color: #fe3c47;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover,
a:focus {
  color: #d3010d;
  text-decoration: none;
}
blockquote {
  font: 'Source Sans Pro', sans-serif;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
  margin: 0 0 16px 0;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h2 + p {
  margin-top: 12px;
}
h3 {
  font-size: 36px;
}
h3 + p {
  margin-top: 12px;
}
h4 {
  font-size: 24px;
}
h4 + p {
  margin-top: 12px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
* + p {
  margin-top: 12px;
}
p {
  font: 18px/28px 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0 0 12px;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
input[type=text]:focus,
input[type=password]:focus,
input[type=submit]:focus,
input[type=button]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
strong {
  font-weight: 600;
}

.text-bold {
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.alert,
.progress,
.pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.inline li {
  display: inline-block;
  margin-right: 24px;
}
.inline li:last-child {
  margin-right: 0;
}


span.label {
  margin-right: 1px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 100%;
}
#btn,
.btn {
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
#btn:hover,
.btn:hover {
  color: #000000;
}




