.section-content-block {
  padding: 100px 0 100px 0;
  background: #ffffff;
}
.cta-section-3 {
  background: transparent;
  background-image: url('/assets/images/cta-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
}
.cta-section-3:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  content: '';
}
.cta-section-3 .cta-content {
  color: #ffffff;
}
.cta-section-3 .cta-content h2 {
  font-size: 70px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 65px;
  font-weight: 500;
}
.cta-section-3 .cta-content a.btn-cta-3 {
  background: #fe3c47;
  border: 2px solid #fe3c47;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 25px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-out 0s;
  margin-top: 25px;
}
.cta-section-3 .cta-content a.btn-cta-3:hover {
  background-color: #fe0917;
}

/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
  .cta-section-3 .cta-content {
    color: #ffffff;
  }
  .cta-section-3 .cta-content h2 {
    font-size: 42px;
    line-height: 60px;
  }
  .cta-section-3 .cta-content a.btn-cta-3 {
    margin-top: 0px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
  .cta-section-3 .cta-content {
    color: #ffffff;
  }
  .cta-section-3 .cta-content h2 {
    font-size: 42px;
    line-height: 60px;
  }
  .cta-section-3 .cta-content a.btn-cta-3 {
    margin-top: 0px;
  }
}
