.section-content-block {
  padding: 100px 0 100px 0;
  background: #ffffff;
}
.margin-top-11 {
  margin-top: 11px;
}
.btn-custom {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid #cccccc;
  background: #fe3c47;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-custom:hover {
  border-color: #a6a6a6;
  color: #fe3c47;
  background: #ffffff;
}
.wp-caption {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
  line-height: 34px;
}

/***********************************************************************************************/
/* 06. BLOG SINGLE PAGE */
/***********************************************************************************************/
.single-post-inner {
  background: #f9fafb;
  padding: 30px;
}
.post-inner-featured-content {
  display: block;
}
.post-inner-featured-content img {
  display: block;
  width: 100%;
  text-align: center;
}
.single-post-inner-title {
  margin-bottom: 24px;
}
.single-post-inner-title h2 {
  font-size: 32px;
  margin: 32px 0 24px 0;
}
.single-post-inner-meta h2 {
  font-size: 24px;
}
.single-post-inner-meta .tag-list a {
  display: inline-block;
  padding: 4px 12px;
  margin-right: 3px;
  background: #fe3c47;
  color: #ffffff;
}
.custom-post-info {
  margin: 0;
  padding: 0;
}
.custom-post-thumb-small {
  width: 70px;
  height: 70px;
}
.custom-post-thumb-medium {
  width: 350px;
  height: 120px;
}
.single-post-container {
  margin: 0 0 24px 0;
}
.single-post-container h3 {
  margin: 24px 0 12px 0;
  font-size: 18px;
  text-transform: capitalize;
}
.single-post-container h3 a {
  color: #000000;
}
.single-post-container h3 a:hover {
  color: #333333;
}
.single-post-container .custom-breadcrumb {
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.single-post-container .article-meta-extra {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 6px 0;
  margin-bottom: 12px;
}
.single-post-container .article-meta-extra span {
  margin-right: 5px;
}
.single-post-container .article-meta-extra span:last-child {
  margin-right: 0px;
}
.single-post-container .article-meta-extra i {
  color: #555555;
  margin-right: 3px;
}
.single-post-container h2 + p {
  margin-top: 12px;
}
.single-post-content h1 {
  margin: 12px 0;
}
.single-post-content h2 {
  margin: 12px 0;
}
.single-post-content h3 {
  margin: 12px 0;
}
.single-post-content h4 {
  margin: 12px 0;
}
.single-post-content h5 {
  margin: 12px 0;
}
.single-post-content h6 {
  margin: 12px 0;
}
.articles-nav {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  padding: 0 2.4em;
}
.articles-nav .articles-nav-prev {
  float: left;
}
.articles-nav .articles-nav-next {
  float: right;
}
.aligncenter,
.alignleft,
.alignright,
.alignnone {
  margin: 12px 0 24px 0;
  max-width: 100%;
  height: auto;
}
.aligncenter,
img.centered {
  display: block;
  margin: 12px auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  clear: both;
}
.wp-caption {
  text-align: center;
}
.wp-caption img {
  max-width: 100%;
  max-height: auto;
}
.wp-caption .wp-cap {
  margin-bottom: 0px;
  font-size: 12px;
}
.post-navigation {
  text-align: center;
  clear: both;
}
.post-navigation p {
  text-transform: uppercase;
}
.post-navigation p a {
  position: relative;
  padding-left: 24px;
  margin-right: 5px;
}
.post-navigation p a:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 3px;
  background: transparent;
  border: 1px solid #cccccc;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.post-navigation p a:hover:before {
  background: #fe3c47;
  border: 1px solid #333333;
}
.post-navigation p a:first-child {
  margin-right: 0px;
}
.comments-nav-section,
.post-nav-section {
  margin: 24px 0 0 0;
}
.comments-nav-section p,
.post-nav-section p {
  margin-bottom: 0px;
}
.comments-nav-section a,
.post-nav-section a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
  background: transparent;
  color: #333333;
  padding: 6px 12px;
}
.comments-nav-section a:hover,
.post-nav-section a:hover {
  border: 1px solid #fe3c47;
  color: #fe3c47;
  background: transparent;
}
.article-share-section {
  margin: 24px 0 0 0;
  border: 1px solid #cccccc;
  border-left: 0px;
  border-right: 0px;
  padding: 14px 0 10px 0;
}
.article-author {
  margin-top: 24px;
  background: #f9fafb;
  padding: 30px;
  min-height: 100px;
  padding-bottom: 24px;
}
.article-author .author-avatar img {
  width: 100px;
  max-width: 100%;
  max-height: auto;
  float: right;
  border: 1px solid #cccccc;
  padding: 3px;
  margin-top: 0px;
  margin-left: 12px;
}
.article-author .about_author {
  margin-bottom: 24px;
}
.article-author .social-icons a {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  color: #333333;
  margin-right: 3px;
}
.article-author .social-icons a:hover {
  color: #fe3c47;
}
.related-post {
  margin-top: 24px;
  background: #f9fafb;
  padding: 30px;
}
.related-post ul li {
  margin: 5px 0;
}
.related-post ul li a {
  position: relative;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  color: #333333;
}
.related-post ul li a:hover {
  color: #fe3c47;
}
ul.pagination li a {
  color: #fe3c47;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 6px 12px;
  border: 0px;
  margin: 0 2px;
}
ul.pagination li a:hover {
  backgroud: #000 !important;
}
ul.pagination li a.current {
  background: #fe3c47;
  color: #ffffff;
  border: 0px;
}
ul.pagination li:first-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
ul.pagination li:last-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.comments-area {
  margin-top: 24px;
  background: #f9fafb;
  padding: 30px;
}
.article-add-comments {
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #555555;
  border: 1px solid #cccccc;
  background: #ffffff;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.article-add-comments:hover {
  border: 1px solid #fe3c47;
  color: #fe3c47;
}
.commentslist {
  margin-top: 24px;
  counter-reset: comment-id;
}
.commentslist li {
  list-style-type: none;
  margin-left: 0px;
}
.commentslist li:first-child {
  margin-top: 24px;
}
.commentslist li + li {
  margin-top: 24px;
}
.commentslist li ol,
.commentslist li ul {
  padding-left: 3em;
  margin-left: 3em;
  border-left: 1px dotted #cccccc;
  list-style-type: none;
}
.commentslist li ol li,
.commentslist li ul li {
  position: relative;
}
.commentslist li ol li::before,
.commentslist li ul li::before {
  content: '';
  width: 2em;
  height: 1px;
  border-bottom: 1px dotted #cccccc;
  position: absolute;
  left: -3em;
  top: 2em;
}
.commentslist li article {
  background: #ffffff;
  padding: 12px;
}
.commentslist li article header {
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
  margin-bottom: 1.5em;
  position: relative;
}
.commentslist li article header span {
  color: #808080;
}
.commentslist li article header::before {
  counter-increment: comment-id;
  content: counter(comment-id);
  position: absolute;
  right: 5px;
  top: 15px;
  color: #f8f8f8;
  font-size: 32px;
}
.commentslist li article header h5 {
  margin-bottom: 12px;
  text-transform: capitalize;
  color: #000000;
}
.commentslist li article header h5 a {
  color: #000000;
}
.commentslist li article header h5 a:hover {
  color: #333333;
}
.commentslist li article header h5 span {
  font-size: 12px;
  background: #000000;
  color: #ffffff;
  padding: 3px 5px;
  font-style: normal;
  margin-right: .5em;
}
.commentslist li article .comment_text {
  padding-right: 24px;
}
.comment-avatar img {
  width: 64px;
  height: 64px;
  float: right;
  background: #FFFFFF;
  margin: 2px;
  border: 1px solid #cccccc;
  padding: 2px;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.comment-avatar img:hover {
  border-color: #a6a6a6;
}
.waiting-moderation {
  color: #808080;
}
.comments-nav-section {
  margin: 48px 0;
}
.comments-nav-section .btn-primary {
  background: #ffffff;
}
.comments-nav-section .btn-primary:hover {
  background: #ffffff;
}
#comment-form label {
  margin-bottom: 12px;
}
#comment-form input[type=text],
#comment-form input[type=email],
#comment-form input[type=url],
#comment-form input[type=password] {
  border: 0px;
  border-bottom: 1px solid #eeeeee;
  line-height: 42px;
  height: 42px;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
#comment-form input[type=text]:focus,
#comment-form input[type=email]:focus,
#comment-form input[type=url]:focus,
#comment-form input[type=password]:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #a1a1a1;
}
#comment-form textarea {
  border: 0px;
  border-bottom: 1px solid #eeeeee;
  padding: 12px;
  margin-bottom: 24px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
#comment-form textarea:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-bottom: 1px solid #a1a1a1;
}

/***********************************************************************************************/
/* 13. SIDEBAR & WIDGETS */
/***********************************************************************************************/
.widget {
  background: #f9fafb;
  margin-bottom: 30px;
  padding: 20px;
}
.widget-title {
  position: relative;
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  color: #1a1a1a;
}
.widget-title span {
  font-style: 400;
  color: #000000;
}
.widget ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget ul li {
  padding: 5px 0;
}
.widget ul li a {
  color: #333333;
}
.widget ul li a:hover {
  color: #fe3c47;
}
.search-form {
  margin: 0 0 12px 0;
}
.search-form span.input-group-addon {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #fe3c47;
  border-right: 0px;
  color: #ffffff;
  font-weight: bold;
  width: 10%;
  padding: 0 20px;
}
.search-form input[type="text"] {
  box-shadow: 0;
  margin-bottom: 0;
  font-size: 14px;
  padding-left: 5px;
  height: 42px;
  border: 0px;
  box-shadow: none;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.search-form input[type="text"]:focus {
  box-shadow: none;
  border-bottom: 1px solid #d5d5d5;
}
.widget-post-category {
  margin: 11px auto;
}
.widget-post-category li {
  margin: 5px 0;
  padding: 0;
  text-transform: capitalize;
}
.widget-post-category li a {
  font-size: 15px;
  position: relative;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.single-recent-post {
  margin-bottom: 26px;
  overflow: hidden;
}
.single-recent-post a {
  color: #333333;
  margin-bottom: 8px;
  display: block;
}
.single-recent-post a:hover {
  color: #fe3c47;
}
.single-recent-post span {
  font-size: 14px;
  display: block;
  color: #fe3c47;
  padding-left: 2px;
}
.single-recent-post span i {
  font-size: 16px;
}
.single-post-thumb {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 5px;
  width: 100px;
}
.widget-recent-tags {
  margin: 0 auto;
}
.widget-recent-tags li {
  margin: 0px 5px 7px 0px;
  float: left;
}
.widget-recent-tags li a {
  padding: 3px 7px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #fe3c47;
  display: block;
  background: transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.widget-recent-tags li a:hover,
.widget-recent-tags li a:active {
  background: transparent;
  border: 1px solid #fe3c47;
  background: #ffffff;
}


/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
  .post-details-container h3 {
    margin-top: 12px;
  }
  .post-box-container .bd-post-image-container {
    margin: 0 auto;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
}
