<div class="event-latest">
  <div class="row">
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="event-latest-thumbnail text-center padding-md-xs">
        <a>
          {{donation.bloodType}}
        </a>
      </div>
    </div> <!--  col-sm-5  -->
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="event-details">
        <div class="row">
          <div class="col-md-12">
            <a class="latest-date">{{donation.deadline | date:'medium'}}</a>
          </div>
          <div class="col-md-12">
            <h4 class="event-latest-title">
              {{donation.applicant.firstName}} {{donation.applicant.lastName}}
            </h4>
          </div>
          <div class="col-md-12">
            <p>{{donation.description | slice:0:200}}...</p>
          </div>
          <div class="col-md-12">
            <div class="event-latest-details">
              <div class="row">
                <div class="col-md-6">
                  <a class="bottom-link text-primary text-bold">
                    <i class="fa fa-tint" aria-hidden="true"></i> {{donation.bloodType}}
                  </a>
                  <a class="bottom-link text-bold">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{donation.city}},
                    {{donation.applicant.address.country}}
                  </a>
                </div>
                <div class="col-md-6 text-right">
                  <a *ngIf="showDetailButton" [routerLink]="['/donations', 'detail', donation.id]" >
                    <button class="btn btn-custom">
                      Detail
                    </button>
                  </a>
                  <a *ngIf="showUpdateButton" [routerLink]="['/donations', 'update', donation.id]">
                    <button class="btn btn-custom">
                      Update
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--  col-sm-7  -->

  </div>

</div>
