@import "../../../assets/scss/variables";

.donation-box {
  background: $secondary;
  position: relative;
  margin-bottom: 30px;
}
.donation-box-thumbnail a {
  display: block;
  background: $tertiary-dark;
  font-size: 7em;
  color: $light;
  text-decoration: none;
}

.date {
  border: 2px solid $tertiary-dark;
  border-radius: 0px;
  background: $tertiary-dark;
  color: $light;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  padding: 2px 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.donation-detail {
  padding: 10px 15px 0 0;
}

.donation-box-title {
  color: $primary;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
  text-transform: uppercase;
}

.donation-box-details {
  margin-bottom: 10px;
}
.bottom-link {
  color: $tertiary;
  line-height: 14px;
  margin-right: 3px;
  padding-right: 8px;
  transition: all 0.3s ease 0s;
}


/* RESPONSIVE STYLING */
/***********************************************************************************************/
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {
  .donation-box {
    clear: both;
  }
  .donation-detail {
    padding: 12px 6px 0 12px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .donation-box {
    clear: both;
  }
  .donation-detail {
    padding: 12px 6px 0 12px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .donation-box {
    clear: both;
  }
  .donation-box-title {
    font-size: 20px;
  }
  .donation-detail {
    padding: 12px 6px 0 12px;
  }
}

