<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <div class="event-latest">
    <div class="row">

      <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div class="event-latest-thumbnail">
          <a  >
            <img src="/assets/images/event_1.jpg" alt="">
          </a>
        </div>
      </div> <!--  col-sm-5  -->

      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="event-details">
          <a class="latest-date"  >14 June, 2017</a>
          <h4 class="event-latest-title">
            <a  >World Blood Donors Day</a>
          </h4>
          <p>Every year, on 14 June, countries around the world celebrate World Blood Donor Day. The event serves to thank voluntary.</p>
          <div class="event-latest-details">
            <a class="author"  ><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am - 3.00pm</a>
            <a class="comments"  > <i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</a>
          </div>
        </div>
      </div> <!--  col-sm-7  -->

    </div>

  </div>
</div> <!--  col-sm-6  -->
