<article class="clearfix">
  <header>
    <h5> Mahbub Alam Khan </h5>
    <p><span>on jan 19th, 2013 at 3:05 Pm - </span> <a>Reply</a></p>
  </header>

  <figure class="comment-avatar">
    <a>
      <img src="/assets/images/user_4.jpg">
    </a>
  </figure>

  <div class="comment_text">
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </div>

</article>
