<article class="clearfix">
  <header>
    <h5> {{comment.author.firstName}} {{comment.author.lastName}} </h5>
    <p>
      <span> {{comment.timestamp}} </span>
      <a *ngIf="showRequestReplyButton" (click)="onClickReply($event)">Reply</a>
    </p>
  </header>

  <figure class="comment-avatar">
    <a>
      <img src="/assets/images/user_4.jpg">
    </a>
  </figure>

  <div class="comment_text">
      {{comment.content}}
  </div>

</article>

<div  *ngIf="showCommentForm">
  <app-blog-post-comment-form (cancel)="onCancelEmitted($event)" (content)="onContentEmited($event)"></app-blog-post-comment-form>
</div>


