@import "../../../../assets/scss/variables";

.section-content-block {
  padding: 100px 0 100px 0;
  background: $light;
}
.no-bottom-padding {
  padding-bottom: 0px;
}
.btn-custom {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
  border: 1px solid $secondary-dark;
  background: $primary;
  color: $light;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 12px 14px;
}
.btn-custom:hover {
  border-color: $tertiary;
  color: $primary;
  background: $light;
}
.section-contact-block {
  position: relative;
  overflow: hidden;
}
.section-contact-block .content-block {
  padding: 0 48px 0 0;
}
.section-contact-block .contact-title {
  font-size: 24px;
  border-bottom: 3px solid $secondary-dark;
  color: $tertiary-dark;
  padding-bottom: 15px;
  position: relative;
}
.section-contact-block .contact-title:after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 32px;
  background: $primary;
}
.section-contact-block .contact-info li {
  margin-bottom: 24px;
}
.section-contact-block .contact-info .icon-container {
  display: inline-block;
  background: $primary;
  color: $light;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: 5px;
}
.section-contact-block .contact-info .icon-container i {
  font-size: 14px;
}
.section-contact-block .contact-info address {
  display: inline-block;
}
.section-contact-block .contact-info a {
  color: $tertiary-dark;
}
.section-contact-block .contact-info a:hover {
  color: $primary;
}
.section-contact-block .contact-form-block {
  padding: 0 0 0 0px;
}
.section-contact-block #contact-form input[type=text],
.section-contact-block #contact-form input[type=email],
.section-contact-block #contact-form input[type=url],
.section-contact-block #contact-form input[type=password] {
  border: 0px;
  border-bottom: 1px solid $secondary-dark;
  line-height: 42px;
  height: 42px;
  margin-bottom: 24px;
  padding-left: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.section-contact-block #contact-form input[type=text]:focus,
.section-contact-block #contact-form input[type=email]:focus,
.section-contact-block #contact-form input[type=url]:focus,
.section-contact-block #contact-form input[type=password]:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-bottom: 1px solid $tertiary;
}
.section-contact-block #contact-form textarea {
  border: 0px;
  border-bottom: 1px solid $secondary-dark;
  padding-left: 2px;
  margin-bottom: 24px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}
.section-contact-block #contact-form textarea:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-bottom: 1px solid $tertiary;
}

#contact-form .p-errors label {
  color: lightcoral;
}
#contact-form .p-errors input[type="text"],
#contact-form .p-errors input[type="email"],
#contact-form .p-errors textarea {
  border-color: lightcoral;
}

/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
}
