@import "../../../../assets/scss/variables";

/* Page Header  */
/*--------------*/
.banner {
  margin: 0;
  padding: 0;
  background-color: $dark;
}
.banner h3 {
  color: $light;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

