<section class="section-client-logo">

  <div class="container wow fadeInUp">

    <app-section-heading></app-section-heading>

    <div class="row">

      <div class="logo-items logo-layout-1 text-center">

        <app-sponsor-box></app-sponsor-box>
        <app-sponsor-box></app-sponsor-box>
        <app-sponsor-box></app-sponsor-box>
        <app-sponsor-box></app-sponsor-box>
        <app-sponsor-box></app-sponsor-box>
        <app-sponsor-box></app-sponsor-box>


      </div> <!-- end .logo-items  -->

    </div> <!-- end row  -->

  </div> <!-- end .container  -->

</section> <!--  end .section-client-logo -->
