@import "../../../../assets/scss/variables";

.process-layout {
  margin: 32px 0 0;
  text-align: left;
  position: relative;
  padding: 0;
  background: $secondary;
}
.process-layout .process-img {
  position: relative;
}
.process-layout .process-img img {
  vertical-align: middle;
  width: 100%;
}
.process-layout .process-img .step h3 {
  color: $light;
  bottom: 15px;
  font-size: 64px;
  position: absolute;
  right: 30px;
  text-align: center;
  z-index: 9999;
}
.process-layout .process-img .step:after {
  background: $primary;
  bottom: 0;
  content: "";
  height: 100px;
  opacity: 0.7;
  position: absolute;
  right: 0;
  width: 100px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.process-layout h2 {
  font-size: 28px;
  letter-spacing: 0.01em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  color: $tertiary-dark;
}
.process-layout:hover .process-img .step:after {
  opacity: 1;
}
.process-info {
  padding: 32px 16px;
  text-align: left;
}

/* 14. RESPONSIVE STYLING */
/***********************************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1300px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {

}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .process-layout {
    margin: 0 0 32px 0;
  }
  .process-layout h2 {
    font-size: 22px;
    font-weight: 500;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .process-layout {
    margin: 0 0 24px 0;
  }
  .process-layout h2 {
    font-size: 22px;
    font-weight: 500;
  }
}
