@import "../../assets/scss/variables";



.section-content-block {
  background: $light;
  padding-top: 30px;
  padding-bottom: 60px;

}


/* RESPONSIVE STYLING */
/***********************************************************************************************/

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .section-content-block {
    padding: 60px 0;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .section-content-block {
    padding: 32px 0;
  }
}




