<div class="container padding-bottom-md background-primary-dark opacity-9">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center text-light text-uppercase padding-lg">
        <div>
          <div class="text-bold text-20 letter-spacing-5">
            <i class="fa fa-car" aria-hidden="true"></i> Content heeere here heeere
          </div>
          <div class="text-light text-12 letter-spacing-3">
            Another content here here here <span class="text-bold">Another content</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <app-list-selector [title]="'sélection marque'"
                         [placeholder]="'choisir la marque'"
                         [isActive]="!brand"
                         (onSelectItem)="setBrand($event)">
      </app-list-selector>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <app-list-selector [title]="'sélection modèle'"
                         [placeholder]="'choisir le modèle'"
                         [isActive]="brand && !model"
                         (onSelectItem)="setModel($event)">
      </app-list-selector>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <app-list-selector [title]="'sélection version'" [placeholder]="'choisir la version'"></app-list-selector>
    </div>
  </div>
</div>
