<div class="article-author clearfix">

  <div class="clearfix">
    <h4>Author : <span>{{author.firstName}} {{author.lastName}}</span></h4>
  </div>

  <figure class="author-avatar">
    <a>
      <img src="/assets/images/user_1.jpg">
    </a>
  </figure>

  <div class="about_author">
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam
    feugiat vitae ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
  </div>

  <div class="social-icons margin-top-11 clearfix">
    <a class="fa fa-facebook social_icons" data-original-title="Facebook"></a>
    <a class="fa fa-twitter social_icons" data-original-title="Twitter"></a>
    <a class="fa fa-flickr social_icons" data-original-title="Flickr"></a>
    <a class="fa fa-youtube social_icons" data-original-title="Youtube"></a>
    <a class="fa fa-linkedin social_icons" data-original-title="Linkedin"></a>
  </div>

</div>
