<app-banner content="Posts"></app-banner>


<section class="section-relative">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div *ngIf="postsList" class="posts-list-container">
          <div *ngFor="let post of postsList" class= "post-thumbnail-container">
            <app-blog-post-thumbnail [post]="post"> </app-blog-post-thumbnail>
          </div>
        </div>
      </div>

      <div *ngIf="totalItems && totalItems>itemsPerPage" class="col-sm-offset-2 col-sm-8 text-center">
        <pagination class="pagination-sm"
                    [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="currentPage" (ngModelChange)="updateCurrentPage($event)"
                    (numPages)="onNumPages($event)"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true" [rotate]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>

    </div>
  </div>
</section>
